build.properties
*.o
*.user
*.pyc
*.log
src/moc_*.cc
test/Java/.idea/workspace.xml
*.db
*.orig
test/Java/out
*.autosave
.idea*
report/*
/bin/
/lib/
/out/
/build/
/docs/
/mocs/
wd.gypi
/wd.Makefile
/Makefile
/WebDriver.target.mk
/WebDriverTest.target.mk
/src/webdriver/webdriver_version.cc
/build-*
.DS_Store