build.properties
*.o
*.user
*.pyc
*.log
src/moc_*.cc
test/Java/.idea/workspace.xml
*.db
*.orig
*.png
test/Java/out
*.autosave
.idea*
report/*
/bin/
/lib/
/out/
/wd.Makefile
/Makefile
/WebDriver.target.mk
/WebDriverTest.target.mk
*.log
WD.*
desktop/
flip/
src/wdversion.cc