
{
  'variables': {
    'QT5': '0', # change to '1' for enabling Qt5
    'WD_BUILD_MONGOOSE': '1',
    'WD_BUILD_MODP_B64': '1',
    'QT_BIN_PATH':   '/opt/qt4_nds/linux2_2/release/bin/',
    'QT_INC_PATH':   '/opt/qt4_nds/linux2_2/release/include/',
    'QT_LIB_PATH':   '/opt/qt4_nds/linux2_2/release/lib/',
    'MONGOOSE_INC_PATH':    '<(ROOT_PATH)/MONGOOSE/dist/<(platform)/generic/<(mode)/h',
  },
}
